* {

    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: #eee;
    color: #006400;
}
div
{
    width: 100%;  
     background-color: #ddd;
     padding: 50px;
}

form
{
    margin: 5px auto;
    text-align: center;
    background-color: #f2f2f2;
    width: 850px;
    padding: 50px 0px;
}

h1
{
    background-color: #333;
    color: white;
    border-bottom: 5px solid gray;
    vertical-align:middle;
    padding: 15px;
    margin: 0;
    width: 100%;
}

label,option
{
    display: block;
    text-transform: capitalize;
    font-weight: bold;
    margin: 10px;
}


input , select {
background-color: white;
width: 50%;
border: solid #00ce9f 3px;
padding : 8px ;
color: black;
border-radius: 7px;
outline: none;
/* text-align: center; */
}
select
{
    text-transform: capitalize;
}

input[type="submit"]
{
    text-decoration: none;
    margin: 30px;
    padding: 10px;
    border: 2px solid #00ce9f;
    border-radius: 10px;
    /* width: 250px; */
    text-align: center;
    font-size: x-large;
    color: #006400;
    text-transform: uppercase;

    
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: #00ce9f;
    color: white;
    
}




/* for tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
   form
   {
    width: 650px;
    padding-top: 30px;

   }
   h1
   {
    text-align: center;
   }
}

/* for mobile phones */
 @media only screen and (max-width: 767px) {
    div
    {
        padding: 20px;
    }
    form
    {
     width: 600px;
     padding-top: 30px;
 
    }
    h1
    {
     text-align: center;
    }
}